﻿@model RushHour.Web.Models.AppoinmentViewModels.AppointmentCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create new Appointment</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @foreach (var item in Model.Activity)
                {

                    <input asp-for="ActivityId" type="radio" value="@item.Id">@item.Name <span>&nbsp&nbsp&nbspAppointment will take @item.Duration hour and will cost @item.Price BGN</span>
                    <br>

                }
            </div>

            <div class="form-group">
                @*<label asp-for="StartDateTime" class="control-label"></label>
                    <input asp-for="StartDateTime" class="form-control datetime" />
                    <span asp-validation-for="StartDateTime" class="text-danger"></span>*@
                @Html.TextBoxFor(model => model.StartDateTime, "{0:dd/MM/yyyy hh:mm}", new { @class = "DateTimePicker form-control" })

                @*@Html.TextBoxFor(model => model.EndDateTime, "{0:dd/MM/yyyy hh:mm}", new { @class = "DateTimePicker form-control" })*@
            </div>
            <div class="form-group">
                @*<label asp-for="EndDateTime" class="control-label"></label>
                    <input asp-for="EndDateTime" class="form-control datetime" />
                    <span asp-validation-for="EndDateTime" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>