﻿@model RushHour.Web.Models.AppoinmentViewModels.AppointmentEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AppointmentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                @foreach (var item in Model.Activity)
                {
                    if (Model.ActivityId == item.Id)
                    {
                        <input asp-for="ActivityId" type="radio" checked="checked" value="@item.Id">@item.Name <span>&nbsp&nbsp&nbspAppointment will take @item.Duration hour and will cost @item.Price BGN</span>
                        <br>
                        continue;
                    }

                    <input asp-for="ActivityId" type="radio" value="@item.Id">@item.Name <span>&nbsp&nbsp&nbspAppointment will take @item.Duration hour and will cost @item.Price BGN</span>
                    <br />
                }
            </div>

            <div class="form-group">
                @Html.TextBoxFor(model => model.StartDateTime, "{0:dd/MM/yyyy hh:mm}", new { @class = "DateTimePicker form-control" })
            </div>
            <div class="form-group">
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>