﻿@model RushHour.Web.Models.AdminViewModels.AdminListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>List of users</h2>
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                PhoneNumber
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ApplicationUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.Id }) |

                    @Html.ActionLink("Delete", "Delete", new { item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>