﻿@model IEnumerable<IdentityRole>

<div class="bg-primary panel-body">
    <h4>
        Roles
    </h4>
</div>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="table table-condensed table-bordered table-striped">
    <tr>
        <th>ID</th>
        <td>Name</td>
        <td></td>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center">
                No roles
            </td>
        </tr>
    }
    else
    {
        foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>

                <td>
                    <a class="btn btn-sm btn-success" asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id">
                        Edit
                    </a>
                    <a class="btn btn-sm btn-danger" asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    }
</table>

<a class="btn btn-primary" asp-controller="Role" asp-action="Create">
    Create
</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">
    Home
</a>